<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ToyCreateDesign后台管理</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="/node_modules/jqvmap/dist/jqvmap.min.css"/>
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- endinject -->
    <link rel="shortcut icon" href="/images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <div th:replace="adHead::head" ></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- 左侧 -->
        <div th:replace="adHead::left" ></div>


        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">

                <div class="row">

                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title" style="margin-right: 14%" >用户管理

                                    <a href="/showdesigner" style="float: right" class="btn btn-gradient-info">设计师管理</a>

                                </div>
                                <table class="table table-hover">
                                    <thead>
                                    <!-- 表头  -->
                                    <tr>
                                        <th>用户id</th>
                                        <th>手机号</th>
                                        <th>账号名</th>
                                        <th>昵称</th>
                                        <th>性别</th>
                                        <th>年龄</th>
                                        <th>备注</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- 循环 -->
                                    <tr th:each="a: ${USERLIST}" th:if="${a.uId} ne 10000">
                                        <td th:text="${a.uId}">
                                        </td>
                                        <td th:text="${a.uPhone}">推荐</td>
                                        <td th:text="${a.uUsername}" class="text-danger">  <i
                                                class="mdi mdi-arrow-up"></i></td>
                                        <td th:text="${a.uName}">推荐</td>
                                        <td th:text="${a.uSex}" class="text-danger"> </td>
                                        <td th:text="${a.uAge}">推荐</td>
                                        <td th:text="${a.uMark}" class="text-danger"></td>
                                        <td>
                                            <span th:if="${a.uState} eq 1" th:text="正常"></span>
                                            <span th:if="${a.uState} eq 2" th:text="已封号"></span>
                                        </td>
                                        <td>
                                            <a th:href="@{'/usersearchid?uId='+${a.uId}}"  th:id="${a.uId}"> <button  type="button" class="btn btn-gradient-warning btn-sm" th:id="${a.uId}">查看</button></a>
                                            <button type="button" class="btn btn-gradient-primary btn-sm" data-toggle="modal" data-target="#changeSource"
                                                    th:id="${a.uId}" th:data-username="${a.uUsername}" th:data-name="${a.uName}" th:data-sign="${a.uSignature}"
                                                    th:data-describe="${a.uDescribe}"  th:data-state="${a.uState}"
                                                    th:data-mark="${a.uMark}"
                                            onclick="updateuser(this)">更改</button>
                                            <button type="button" class="btn btn-gradient-danger btn-sm" data-toggle="modal" data-target="#addSource"
                                                    th:id="${a.uId}"
                                                    onclick="sendmessage(this)">发送消息</button>

                                        </td>
                                    </tr>

                                    </tbody>

                                </table>
                            </div>
                            <div style="text-align: center;margin-bottom: 20px;">
                                <a style="margin-right: 20px;text-decoration: none;" href="/showuser?pageNum=1">首页</a>

                                <a th:if="${pageNum} > 1" style="margin-right: 20px;text-decoration: none;" th:href="@{'/showuser?pageNum='+${pageNum-1}}">上一页</a>
                                <span th:text="${pageNum}"></span><span>/</span><span th:text="${allNum}"> </span>

                                <a  th:if="${pageNum} != ${allNum}" style="margin-right: 20px;text-decoration: none;" th:href="@{'/showuser?pageNum='+${pageNum+1}}">下一页</a>

                                <a  style="margin-right: 20px;text-decoration: none;" th:href="@{'/showuser?pageNum='+${allNum}}">末页</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="changeSource" role="dialog"
                     aria-labelledby="gridSystemModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="gridSystemModalLabel">您正在修改用户信息：</h4>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>

                            <div class="modal-body">
                                <div class="container-fluid">
                                    <form class="form-horizontal" action="/userupdate"
                                          method="post">
                                        <div class="form-group ">
                                            <div class="col-xs-8 ">

                                                <input type="hidden" class="form-control input-sm duiqi"
                                                       name="uId" value="" id="uId">

                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="uUsername" class="col-xs-3 control-label">姓名：</label>
                                            <div class="col-xs-8 ">
                                                <input type="text" class="form-control input-sm duiqi"
                                                       id="uUsername" name="uUsername">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="uName" class="col-xs-3 control-label">昵称：</label>
                                            <div class="col-xs-8 ">
                                                <input type="text" class="form-control input-sm duiqi"
                                                       id="uName" name="uName">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="uSignature" class="col-xs-3 control-label">个人签名：</label>
                                            <div class="col-xs-8 ">
                                                <input type="text" class="form-control input-sm duiqi"
                                                       id="uSignature" name="uSignature">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="uDescribe" class="col-xs-3 control-label">个人描述：</label>
                                            <div class="col-xs-8 ">
                                                <input type="text" class="form-control input-sm duiqi"
                                                       id="uDescribe" name="uDescribe">
                                            </div>
                                        </div>
                                        <div class="form-group row" name="uState">
                                            <label class="col-sm-3 col-form-label">状 态</label>
                                            <div class="col-sm-4">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="radio"  name="uState" value="1" checked="" th:text="正常">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="radio" name="uState" value="2" th:text="封号">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="uMark" class="col-xs-3 control-label">备注：</label>
                                            <div class="col-xs-8 ">
                                                <input type="text" class="form-control input-sm duiqi"
                                                       id="uMark" name="uMark">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-xs btn-xs btn-white"
                                                    data-dismiss="modal">取 消</button>
                                            <button type="submit" class="btn btn-xs btn-xs btn-green" >保
                                                存</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="addSource" role="dialog"
                     aria-labelledby="gridSystemModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="gridSystemModalLabel">发送信息</h4>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>

                            <div class="modal-body">
                                <div class="container-fluid">
                                    <form class="form-horizontal" action="/sendmuser"
                                          method="post">
                                        <div class="form-group ">
                                            <div class="col-xs-8 ">
                                                <input type="hidden" class="form-control input-sm duiqi"
                                                       name="mBsendId" id="userid">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label  class="col-xs-3 control-label">标题：</label>
                                            <div class="col-xs-8 ">
                                                <input type="text" class="form-control input-sm duiqi"
                                                       name="mTitle" >
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label  class="col-xs-3 control-label">内容：</label>
                                            <div class="col-xs-8 ">
                                                <input type="text" class="form-control input-sm duiqi"
                                                       name="mContent">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label  class="col-xs-3 control-label">备注：</label>
                                            <div class="col-xs-8 ">
                                                <input type="text" class="form-control input-sm duiqi"
                                                       name="mMark">
                                            </div>
                                        </div>


                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-xs btn-xs btn-white"
                                                    data-dismiss="modal">取 消</button>
                                            <button type="submit" class="btn btn-xs btn-xs btn-green">保
                                                存</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:replace="adHead::password" ></div>


            </div>
        </div>
    </div>

    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <script src="/vendors/js/vendor.bundle.addons.js"></script>

    <script src="/js/off-canvas.js"></script>
    <script src="/js/misc.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
</div>
</body>

</html>
